<div class="col-sm-2 col-lg-3"></div>

<div class="col-sm-8 col-lg-6">

<h1> ADD PRODUCT </h1>

<form name = "addForm" ng-submit = "groceryctrl.addProduct()" novalidate>
    
        <!--Brand-->
        <div class="form-group">
            <label for="brand">Brand</label>
            <input id="brand" name="brand" type="text" class="form-control" ng-model="groceryctrl.product.brand" required/>
        </div>
        <div class="validation" data-ng-show="addForm.brand.$touched || addForm.$submitted">
            <div data-ng-show="addForm.brand.$error.required">
                <span class="glyphicon glyphicon-alert"></span> Please enter product's brand name.
            </div>
        </div>
        <!--Name-->
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" class="form-control" ng-model="groceryctrl.product.name" required/>
        </div>
        <div class="validation" data-ng-show="addForm.name.$touched || addForm.$submitted">
            <div data-ng-show="addForm.name.$error.required">
                <span class="glyphicon glyphicon-alert"></span> Please enter product's name.
            </div>
        </div>
        <!--UPCNo-->
        <div class="form-group">
            <label for="upc12">UPC12 (Please enter a 12 digit number)</label>
            <input id="upc12" name="upc12" type="number" class="form-control" ng-model="groceryctrl.product.upc12" required/>
        </div>
        <div class="validation" data-ng-show="addForm.upc12.$touched">
            <div data-ng-show="addForm.upc12.$error.required">
                <span class="glyphicon glyphicon-alert"></span> Please enter UPC 12 ID.
            </div>
        </div>

        <div class="form-group">
            <input id="submit" name="submit" type="submit" class="btn" ng-disabled = "!(addForm.$valid)"/>
        </div>
        <p>{{groceryctrl.submitMsg}}</p>

    </form>

</div>