<div class="col-sm-2 col-lg-3"></div>

<div class="col-sm-8 col-lg-6">

<h1> GROCERIES APP </h1> 

<br><hr>  

<!--ADD PAGE BUTTON-->

    <br>

    <div style = "background-color: beige; padding: 10px">

    <h3 style = "margin: 0 auto">ADD PRODUCT DETAILS</h3>

    <button class = "btn"><a href="/#!/add"></span>Add Product</a></button>

    </div>
    
    <br><hr><br>

<!--SEARCH-->

    

<!--PRODUCT LISTING-->

    <h3> PRODUCT LIST (showing first 20 products) </h3>
    <p style = "color: red"> KINDLY REFRESH TO SEE ITEMS ADDED IN/UPDATED RECENTLY </p>
    
    <div>
    <button class = "btn" ng-click = "groceryctrl.initProductsZA()">Descending order(Z-A)</button>
    <button class = "btn" ng-click = "groceryctrl.initProducts()">Ascending order(A-Z)</button>
    </div><br>

    <form name = "searchForm" ng-submit = "groceryctrl.searchProducts()" novalidate>
        
        <!--ITEM-->
        <div class="form-group">
            <label for="search">SEARCH (by name or brand):</label>
            <input id="search" name="search" type="text" class="form-control" ng-model="groceryctrl.search" required/>
        </div>

        <div class="form-group">
            <input id="submit" name="submit" type="submit" class="btn"/>
        </div>

    </form>

    <br>

    <div ng-repeat = "product in groceryctrl.products">
        <p>Name: {{product.name | uppercase}}</p>
        <p>Brand: {{product.brand | uppercase }}</li><br>
        <img src = "http://www.barcodes4.me/barcode/c128a/{{product.upc12}}.png?IsTextDrawn=1"><br>
        <p>
            <button class = "btn" ng-click = "groceryctrl.gotoedit($index)"> Edit Product</button>
        </p>
        <hr>
    </div>

    <p>END OF PAGE</p>
</div>

        